/* Was meant to add custom values to tailwind but doesn't work */
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --brand-colorbroken-white: rgba(248, 247, 243, 1);
  --brand-colordark-green: rgba(9, 57, 35, 1);
}