.App{
  background: #3a5933;
  background: linear-gradient(49deg, rgba(58,89,51,1) 67%, rgba(255,193,7,1) 100%);
  height: 100%;
}

#logo {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.lg{
  display: none;
}

@media only screen and (min-width: 1200px) {
  .lg{
    display: block;
  }
}




